* {
    padding: 0;
    margin: 0;
}
header {
    background-color: #FFFFFD;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}
/*! palette : 
! jaune clair : #F7F6CF 
! bleu pastel clair : #B6D8F2
! bleu foncé texte : #18273A

bleu pastel foncé : #9AC8EB
bleu foncé : #5784BA
rose pastel : #F4CFDF
*/
main {
    background-color: #FFFFFD;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    section {
        width: 85%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-content: space-evenly;
        border-radius: 1rem;
        gap: 5rem;

        &#mainSection {
            background-color: #F7F6CF;
            height: 80%;
            justify-content: space-around;
        }
        &#footSection {
            background-color: #B6D8F2;
            height: 15%;
            justify-content: space-evenly;

            img {
                height: 2.5rem;
                width: auto;

                &:hover {
                    height: 3rem;
                    width: auto;
                }
                &:active {
                    height: 3rem;
                    width: auto;
                    filter: drop-shadow(1px 1px 15px  #18273A)
                }
            }
        }


        div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            &.images img {
            height: 6rem;
            width : auto;
            }
            &.name {
                text-transform: uppercase;
                font-size: 35px;
            }
            &.points {
                text-transform: uppercase;
                font-size: 20px;
            }
        }
        
    }
}
#human img {
    &:hover {
        filter: brightness(120%);
    }
    &:active {
        filter: brightness(75%);
    }
}
footer {
    background-color: #FFFFFD;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}